@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    --accent: #086788;
    --background: #fafafa;      
}

h2 {
    font-family: "Open Sans", sans-serif;
}

p {
    font-size: 1.275rem;
}

.project_ctn {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    left: 0;
    transition: left 0.4s ease;
    background-color: lightsalmon;
}

header {
    background: coral;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
}

.header_ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.heading_content {
    font-size: 1.575rem;
}

.icons_list  {
    display: flex;
    gap: 15px;
}

.icons_list > a {
    cursor: pointer;
    color: black;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--background);                       
    background-image: radial-gradient(var(--accent) .75px,     
                    transparent .75px);
    background-size: 15px 15px;    
}

.main_content {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 50px;   
}

.main_heading {
    text-align: center;
}

.main_card_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.main_card_list > div {
    min-height: 400px;
    width: 100%;
    position: relative;
    box-shadow: -2px 2px 15px 0 darkgray;
}

.li {
    position: absolute;
    top: calc((100% / 2) - 25px);
    width: 100%;
    height: 50px;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.7s ease;
    opacity: 0;
    font-size: 1.175rem;
    text-decoration: none;
}

.li span {
    text-decoration: none;
    color: white;
    font-size: 1.325rem;
}

.li_ctn:hover .li {
    opacity: 1;
}


.main_paras_content {
    border: 3px dotted black;
    border-radius: 4px;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

ul {
    font-size: 1.175rem;
    list-style-type: none;
}

.three_lines {
    position: absolute;
    top: 50px;
    left: 100px;
    cursor: pointer;
}

.three_lines_icon {
    font-size: 2rem;
}

footer {
    min-height: 150px;
    background-color: pink;
    width: 100%;
}

.footer_ctn {
    width: 80%;
    height: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside {
    background: deepskyblue;
    position: absolute;
    top: 0;
    left: -250px;
    bottom: 0;
    width: 250px;
}

.project_ctn.left {
    left: 160px;
}

aside.display {
    transition: left 0.4s ease;
    left: 0px;
    position: fixed;
}

.main_widget_ctn {
    height: 50%;
    padding: 50px 0;
}

.main_widget_list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.main_widget_list > div {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 1.335rem;
}